<!-- Footer -->
<footer class="page-footer">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© <%= new Date().getFullYear();%> Copyright:
        <a class="f-link" href="http://github.com/riyanirawan007"> github.com/riyanirawan007</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->